<h1>pet edit page</h1>

<%= form_for @pet do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :breed %>
  <%= f.text_field :breed %>
  <br>
  <%= f.submit "Edit" %>
<% end %>
