<h3>Job Title: <%= @job.title %></h3>
<p><strong>Job Type:</strong> <%= @job.position %></p>
<p><strong>Job Description:</strong> <%= @job.description %></p>

<% if @job.user == current_user %>
  <%= link_to "Edit Job Listing", edit_job_path(@job) %>
  <br>
  <%= link_to "Delete Job Listing", job_path(@job), method: :delete  %>
  <br>
<% end %>

<%= link_to "Back", jobs_path %>
