<!DOCTYPE html>
<html>
  <head>
    <title>Pet Job Board</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>


    <nav class="navbar">
      <%= link_to 'All Jobs', jobs_path, class: 'navlink'%> <br>
      <%= link_to 'Add Job Listing', new_job_path, class: 'navlink' %> <br>
      <%= link_to 'All Companies', companies_path, class: 'navlink' %> <br>
      <%= link_to 'Log Out', logout_path, method: :delete, class: 'navlink' %> <br>
    </nav>

    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
