<!DOCTYPE html>
<html>
  <head>
    <title>Pet Job Board</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>


    <nav class="navbar">
      <p>You are logged in as:
        <% if session[:user_id] %>
          <%= current_user.username %>
        <% end %> </p>
      <%= link_to 'All Jobs', jobs_path, class: 'navlink'%>
      <%= link_to 'Add Job Listing', new_job_path, class: 'navlink' %>
      <%= link_to 'All Companies', companies_path, class: 'navlink' %>
      <%= link_to 'Log Out', logout_path, method: :delete, class: 'navlink' %>
    </nav>

    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
